$main-color:#005FBB;
$disbaled-color-border:#CFD1D2;
$disabled-color-text:#AFB6BE;
$disabled-color-line:#DFE0E0;
$white-color:#FFFFFF;
$background-color:#F0F1F2;
$selected-option:#072649;
$checked-option:#0DBF76;